<h1>Star Wars API App</h1>

<div>
<input ng-model="sc.search.keyword"type="text" name="" value="" placeholder="keyword">
<select ng-model="sc.search.catergory">
  <option value="" selected disabled hidden>Pick Catergory</option>
  <option value="films">Films</option>
  <option value="people">People</option>
  <option value="planets">Planets</option>
  <option value="species">Species</option>
  <option value="starships">Starships</option>
  <option value="vehicles">Vehicles</option>
</select>
<p>{{sc.search.keyword}} {{sc.search.catergory}}</p>
<button ng-click="sc.searchSwapi(sc.selectedVariable, sc.searchKeyword)">Search</button>

</div>
<div>
<ul>
  <li ng-repeat="results in sc.searchResults.list"></li>
</ul>
</div>